.dummy{
	color : black;
}
.disabled {
	opacity: 1;
  	pointer-events:none;
}
.background-green{
	background-color: rgba(177,223,207,255);
}
.diffIT-button{
	line-height: normal;
	border-style: solid;
	padding: 1rem 1rem;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: .1em;
}
.button-color{
	--sds-c-button-brand-color-background : black;
	--sds-c-button-radius-border: 0rem;
}
.no-border-radius{
	--slds-c-input-radius-border: 0rem;
}
.text-black{
	color: black;
}
.font-poppins{
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 500;
}

.slds-grid div{
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: large;
}

.customRadioCls .slds-form-element__control .slds-radio
{
    display: inline-block !important;
}

/**
 * text area labels work a little differently than input labels
 */
.diffIT-text-area{
	margin-top: -1.1rem;
}

.school-search-table > p{
	margin-top: 1.5rem;
}
